[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
appdirs = "==1.4.3"
awesome-slugify = "==1.6.5"
flask-stylus2css = "==0.1.0"
flask-lesscss = "==0.9.1"
markdown2 = "==2.3.3"
pyparsing = "==2.2.0"
gunicorn = "==19.7.0"
Flask = "==0.12.2"
Jinja2 = "==2.10.0"
Werkzeug = "==0.14.1"
live_stylus = "==0.2.7"
Pillow = "==4.0.0"
PyGithub = "==1.32"
Flask-Webpack = "==0.1.0"

[requires]
python_version = "3.7"
