{% macro nav_link(endpoint, text) %}
  <!--<a href="{{ url_for(endpoint) }}">{{text}}</a>-->
  <a href="{{ url_for(endpoint) }}"><i class='{{text}}'></i></a>
{% endmacro %}

<!--{%  macro render_field(field) %}-->
  <!--<td> {{ field.label }} </td>-->
  <!--<dd> {{ field(**kwargs) | safe }} </dd>-->
  <!--{% if field.errors %}-->
    <!--</ul>-->
      <!--{% for error in field.errors %}-->
        <!--<li> {{ error }} </li>-->
      <!--{% endfor %}-->
    <!--</ul>-->
  <!--{% endif %}-->
<!--{% endmacro %}-->

{% macro render_skill(name, myList)  %}
  <div class="subskill">
    <strong> {{ name }} </strong>
    <p> 
      {% for skill in myList %}
        {{skill}}
      {% endfor %}
    </p>
  </div>
{% endmacro %}

{% macro render_extra(altName, name, image, info, alto, ancho, url, nameUrl)  %}
  <div class="filtr-item portfolio-t">
    <figure>
      <img src={{image}} width={{ancho}} height={{alto}} class="img-responsive"
                                                         alt={{altName}}>
        <figcaption>
          <h3> {{name}}</h3>
          <h5>
            <p> {{info}} </p>
            <a href={{url}} target="_blank">
              {{nameUrl}}
            </a>
          </h5>
        </figcaption>
    </figure>
  </div>  
{% endmacro %}


