{% extends "base/base.html" %}

{% block content %}

<!-- Top bar -->
<div class="top-bar">
  <h1>About Me</h1>
  <p>Home / About me</p>
</div>
<!-- end Top bar -->

<!-- Main container -->
<div class="container main-container clearfix">
  <div class="col-md-6">
    <img src="static/img/02.jpg" class="img-responsive" alt="" />
  </div>
  <div class="col-md-6">
    <h3 class="uppercase">About Me </h3>
    <h5>Creative & Lorem ipsum dolor sit amet</h5>
    <p class="about">
    My name is Samuel Ruiz de Gopegui Mu&ntilde;oz.
    I am a self-taught developer, passionate I have Administration of computer systems in network (ASIR) and I am currently doing Bachelor's degree in computer engineering in Unizar (Zaragoza, Spain)
    </p>
    <p class="about">
    Intrigued by the frontend, the backend, the strategy, the design,
    learning new things, cycling, traveling, robotics and drones.
    </p>
    <ul class="social-ul">
      <ion-icon name="logo-github"></ion-icon>
      <i class="ion-md-heart"></i>
      <li class="box-social"><a href="https://github.com/sarudego" target="_blank"><i class="ion-social-github"></i></a></li>
      <li class="box-social"><a href="https://www.linkedin.com/in/samuel-ruiz-de-gopegui-m-75b5b9b1/" target="_blank"><i class="ion-social-linkedin-outline"></i></a></li>
    </ul>
  </div>
</div>
<!-- end Main container -->

{% endblock %}
