{% extends "base/base.html" %}
{% from "_macros.html" import render_skill %}
{% from "_macros.html" import render_extra  %}

{% block header %}
{% include "header.html" %}
{% endblock %}

{% block content %}



<div class="container-fluid skills">
  <ul>
    <li>
      <h5 class="title">   Python, JS, Angular, NodeJS, LaTeX
      </h5>
      <div class="bar-container"></div>
    </li>
    <li>
      <h5 class="title">CSS / SCSS</h5>
      <div class="bar-container"></div>
    </li>
    <li>
      <h5 class="title">JavaScript / jQuery</h5>
      <div class="bar-container"></div>
    </li>
  </ul>
</div>


<div class="portfolio" id="portfolio">
  <div class="container">
    <div class="filtr-container">
      {{ render_extra("Nasa_Hackathon","Nasa Hackathon",
      "https://s3-eu-west-1.amazonaws.com/sarudego/nasa2.jpg", "Global
      Nominee and won the regional award for the best mobile app in 2018.",
      "300", "555", "https://github.com/TheGreatGatsvim/NASA-April-2017",
      "Recycleme") }}

      {{ render_extra("uCode_Hackathon","uCode Hackathon",
      "https://s3-eu-west-1.amazonaws.com/sarudego/uCode.png", "Machine
      Learning challenge proposed by Adidas to identify a sneaker in a team
      competition.","300", "550",
      "https://github.com/TheGreatGatsvim/uCode-March-2017","uCode") }}

      {{ render_extra("HashCode_Competition","HashCode competition",
      "https://s3-eu-west-1.amazonaws.com/sarudego/hashCode.png",
      "Competition proposed by google where they give you a real problem to
      solve.", "300", "550","https://github.com/TheGreatGatsvim/Google-Feb-2017", "hashCode") }}

      {{ render_extra("Autonomous_Mobile_Robots","Autonomous Mobile Robots",
      "https://s3-eu-west-1.amazonaws.com/sarudego/amr-mooc.jpg",
      "Programming applications for a mobile robot to perform tasks in a complex
      environment.", "300", "400",
      "https://github.com/sarudego/Autonomous-Mobile-Robots.", "Autonomous Mobile Robots") }}
    </div>
  </div>
</div>



{% endblock %}



{% block addJs %}
{% endblock %}




