{% extends "base/base.html" %}

{% block content %}
        <!-- box-intro -->
        <section class="intro">
            <div class="table-cell">
                <h1 class="box-headline letters rotate-2">
                    <span class="box-words-wrapper">
                        <b class="is-visible">design</b>
                        <b>&nbsp;coding</b>
                        <b>graphic</b>
                    </span>
                </h1>
                <h5>"A strange game. The only winning move is not to play"</h5>
            </div>
        </section>
        <!-- end box-intro -->

{% endblock %}



