{% extends "base/base.html" %}

{% block content %}
<!-- top bar -->
<div class="top-bar">
  <h1>portfolio</h1>
  <p><a href="#">Home</a> / Portfolio</p>
</div>
<!-- end top bar -->

<!-- main container -->
<div class="main-container portfolio-inner clearfix">
  <!-- portfolio div -->
  <div class="portfolio-div">
    <div class="portfolio">
      <!-- portfolio_filter -->
      <!--<div class="categories-grid wow fadeInLeft">-->
        <!--<nav class="categories text-center">-->
          <!--<ul class="portfolio_filter">-->
            <!--<li><a href="" class="active" data-filter="*">All</a></li>-->
            <!--<li><a href="" data-filter=".photography">Photography</a></li>-->
            <!--<li><a href="" data-filter=".logo">Logo</a></li>-->
            <!--<li><a href="" data-filter=".graphics">Graphics</a></li>-->
            <!--<li><a href="" data-filter=".ads">Advertising</a></li>-->
            <!--<li><a href="" data-filter=".fashion">Fashion</a></li>-->
          <!--</ul>-->
        <!--</nav>-->
      <!--</div>-->
      <!-- portfolio_filter -->

      <!-- portfolio_container -->
      <div class="no-padding portfolio_container clearfix">
        <!-- single work -->
        <div class="col-md-4 col-sm-6  hackathon IA">
          <a href="https://github.com/TheGreatGatsvim/NASA-April-2017" class="portfolio_item">
            <img src="https://s3-eu-west-1.amazonaws.com/sarudego/nasa2.jpg" alt="image" class="img-responsive" />
            <div class="portfolio_item_hover">
              <div class="portfolio-border clearfix">
                <div class="item_info">
                  <span>Nasa Hackathon</span>
                  <span>Global Nominee and won the regional award for the best mobile app in 2017.</span>
                  <em>Hackathon / IA</em>
                </div>
              </div>
            </div>
          </a>
        </div>
        <!-- end single work -->

        <!-- single work -->
        <div class="col-md-4 col-sm-6 hackathon MachineLearning">
          <a href="https://github.com/TheGreatGatsvim/uCode-March-2017" class="portfolio_item">
            <img src="https://s3-eu-west-1.amazonaws.com/sarudego/uCode.png" alt="image" class="img-responsive" />
            <div class="portfolio_item_hover">
              <div class="portfolio-border clearfix">
                <div class="item_info">
                  <span>uCode Hackathon</span>
                  <span>Machine Learning challenge proposed by Adidas to identify a sneaker in a team competition.</span>
                  <em>Hackathon / Machine Learning</em>
                </div>
              </div>
            </div>
          </a>
        </div>
        <!-- end single work -->

        <!-- single work -->
        <div class="col-md-4 col-sm-12 hackathon">
          <a href="https://github.com/TheGreatGatsvim/Google-Feb-2017" class="portfolio_item">
            <img src="https://s3-eu-west-1.amazonaws.com/sarudego/hashCode.png" alt="image" class="img-responsive" />
            <div class="portfolio_item_hover">
              <div class="portfolio-border clearfix">
                <div class="item_info">
                <span>HashCode competition</span>
                  <span>Coompetition proposed by google where they give you a real problem to solve.</span>
                  <em>Hackathon</em>
                </div>
              </div>
            </div>
          </a>
        </div>
        <!-- end single work -->

        <!-- single work -->
        <div class="col-md-4 col-sm-6 robotics">
          <a href="https://github.com/sarudego/Autonomous-Mobile-Robots" class="portfolio_item">
            <img src="https://s3-eu-west-1.amazonaws.com/sarudego/amr-mooc.jpg" alt="image" class="img-responsive" />
            <div class="portfolio_item_hover">
              <div class="portfolio-border clearfix">
                <div class="item_info">
                  <span>Autonomous Mobile Robots</span>
                  <span>Programming applications for a mobile robot to perform tasks in a complex environment.</span>
                  <em>Robotics</em>
                </div>
              </div>
            </div>
          </a>
        </div>
        <!-- end single work -->

        <!-- single work -->
        <div class="col-md-4 col-sm-6 graphics ads">
          <a href="single-project.html" class="portfolio_item">
            <img src="static/img/portfolio/05.jpg" alt="image" class="img-responsive" />
            <div class="portfolio_item_hover">
              <div class="portfolio-border clearfix">
                <div class="item_info">
                  <span>Mobile devices</span>
                  <em>Graphics / Ads</em>
                </div>
              </div>
            </div>
          </a>
        </div>
        <!-- end single work -->

        <!-- single work -->
        <div class="col-md-4 col-sm-12 photography">
          <a href="single-project.html" class="portfolio_item">
            <img src="static/img/portfolio/010.jpg" alt="image" class="img-responsive" />
            <div class="portfolio_item_hover">
              <div class="portfolio-border clearfix">
                <div class="item_info">
                  <span>Photorealistic smartwatch</span>
                  <em>Photography</em>
                </div>
              </div>
            </div>
          </a>
        </div>
        <!-- end single work -->

        <!-- single work -->
        <div class="col-md-4 col-sm-6 graphics ads">
          <a href="single-project.html" class="portfolio_item">
            <img src="static/img/portfolio/06.jpg" alt="image" class="img-responsive" />
            <div class="portfolio_item_hover">
              <div class="portfolio-border clearfix">
                <div class="item_info">
                  <span>Mobile devices</span>
                  <em>Graphics / Ads</em>
                </div>
              </div>
            </div>
          </a>
        </div>
        <!-- end single work -->

        <!-- single work -->
        <div class="col-md-4 col-sm-6 graphics ads">
          <a href="single-project.html" class="portfolio_item">
            <img src="static/img/portfolio/07.jpg" alt="image" class="img-responsive" />
            <div class="portfolio_item_hover">
              <div class="portfolio-border clearfix">
                <div class="item_info">
                  <span>Mobile devices</span>
                  <em>Graphics / Ads</em>
                </div>
              </div>
            </div>
          </a>
        </div>
        <!-- end single work -->

        <!-- single work -->
        <div class="col-md-4 col-sm-6 graphics ads">
          <a href="single-project.html" class="portfolio_item">
            <img src="static/img/portfolio/08.jpg" alt="image" class="img-responsive" />
            <div class="portfolio_item_hover">
              <div class="portfolio-border clearfix">
                <div class="item_info">
                  <span>Mobile devices</span>
                  <em>Graphics / Ads</em>
                </div>
              </div>
            </div>
          </a>
        </div>
        <!-- end single work -->

      </div>
      <!-- end portfolio_container -->
    </div>
    <!-- portfolio -->
  </div>
  <!-- end portfolio div -->
</div>
<!-- end main container -->

{% endblock %}
