/*
 *  general
 * /

@import url(https://fonts.googleapis.com/css?family=Space+Mono:400,500,600,700);


html,
body {
  height: 100%;
  font-family: 'Space Mono', sans-serif;
  line-height: 1.8;
  background-color:#232325;
  color: #fff;
}

/*
 * home
 * ============================
 */

.intro {
    text-align: center;
    display: table;
    height: 100vh;
    width: 100%;
}

.intro .table-cell {
    display: table-cell;
    vertical-align: middle;
}

.intro em {
    font-style: normal;
    text-transform: uppercase
}

b i:last-child {
    color: #ffbf00 !important;
}

.intro h5 {
    letter-spacing: 4px;
    /*text-transform: uppercase;*/
    color: #999;
    line-height: 1.7
}

/*
 * header
 * ============================
 */


.nav-header {
  display: flex;
  justify-content: space-between;
  background-color:#232325 !important;
}












