html, body{
  background:  #232333; 
  color: white;
  height: 100vh;
}


.wrapper {
 /* display: flex;  */ 
  flex-flow: row wrap;
  /*font-weight: bold;*/
  text-align: center;
}

.wrapper > * {
  padding: 10px;
  flex: 1 100%;
}




/* --- menu nav  ---   */
header{
  border-bottom:  1px solid grey;
}
a{
  text-decoration: none;
  transition: all 0.3s linear 0s;
}


.flex-container.home{
  height: 60px;
  width: 970px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.flex-container > nav{
  display: flex;
}

#secNav a{
  padding: 1rem 2rem;
  color: white;
}

a:active{
  color: red;
}

/* --- home --- */
.home{
  margin-top: 20vh;
}
.text-home{
  text-rendering: optimizeLegibility;
  letter-spacing: .3px;
}


/* --- skills --- */
.flex-container.skills{
  height: 300px;
  width: 700px;
  margin: 0  auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}



