ul {
  border-bottom: 1px solid #fff;
  list-style: none;
  margin: 0 0 1.5rem 0;
  padding: 0;
}

li {
  background-image: linear-gradient(to bottom, transparent 50%, #a2d39c 50%, #a2d39c 95%, #7cc576 95%);
  background-size: 100% 200%;
  background-position: top center;
  color: #666;
  display: block;
  text-align: center;
  text-decoration: none;
  transition: all .25s ease-in-out;
}

li:hover {
  background-position: bottom center;
  color: rgba(0, 0, 0, 0.75);
}

li a {
  color: #666;
  display: block;
  padding: 1rem 0;
  transition: all .25s ease-in-out;
}



#sc3 {
  display: flex;
  justify-content: center;
}
#sc3 ul {
  display: flex;
}
#sc3 ul a {
  padding: 1rem 2rem;
}

 
