<!-- box header -->
<header class="box-header">
  <div class="box-logo">
    <a href="/"><img src="static/img/logo.png" width="80" alt="Logo"></a>
  </div>
  <!-- box-nav -->
  <a class="box-primary-nav-trigger" href="#0">
    <span class="box-menu-text">Menu</span><span class="box-menu-icon"></span>
  </a>
  <!-- box-primary-nav-trigger -->
</header>
<!-- end box header -->

<!-- nav -->
<nav>
  <ul class="box-primary-nav">
    <li class="box-label">Sarudego</li>
    <li><a href="/">Home</a> <i class="ion-ios-circle-filled color"></i></li>
    <li><a href="/about">About me</a></li>
    <li><a href="/projects">Projects</a></li>
    <!--<li class="box-label">Follow me</li>-->

    <!--<li class="box-social"><a href="#0"><i class="ion-social-facebook"></i></a></li>-->
    <!--<li class="box-social"><a href="#0"><i class="ion-social-instagram-outline"></i></a></li>-->
    <!--<li class="box-social"><a href="#0"><i class="ion-social-twitter"></i></a></li>-->
    <!--<li class="box-social"><a href="#0"><i class="ion-social-dribbble"></i></a></li>-->
  </ul>
</nav>
<!-- end nav -->

