{% extends "base/base.html" %}

{% block content %}
        <!-- box-intro -->
        <section class="box-intro">
            <div class="table-cell">
                <h1 class="box-headline letters rotate-2">
                    <span class="box-words-wrapper">
                        <b class="is-visible">design</b>
                        <b>&nbsp;coding</b>
                        <b>graphic</b>
                    </span>
                </h1>
                <!-- <h5>Have you tried turning it off and on again?</h5>
                <h5>Tell me and I forget it, teach me and I remember it, involve me and I learn it</h5>-->
                <h5>"A strange game. The only winning move is not to play"</h5>
            </div>

            <!--
            <div class="mouse">
                <div class="scroll"></div>
            </div>
            -->
        </section>
        <!-- end box-intro -->

{% endblock %}



