{% extends "base/base.html" %}

{% block addCss %}
<link rel="stylesheet" type="text/css" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
<!--<link rel="stylesheet" type="text/css" href="../static/css/styleBox.css">-->
{% endblock %}

{% block header %}
{% include "header.html" %}
{% endblock %}

{% block content %}


<div class="main-container">
  <div class="subHome">
    <img src="https://s3-eu-west-1.amazonaws.com/sarudego-bucket/me.jpg" class="img-responsive img-home" alt="me" />
  </div>
  <div class="subHome">
    <h3 class="uppercase">About Me </h3>
    <h5>Web Developer & Lover AI</h5>
    <div class="h-30"></div>
      <p>  My name is Samuel Ruiz de Gopegui Mu&ntilde;oz.
        I am a self-taught developer, passionate I have Administration of computer systems in network (ASIR) and I am currently doing Bachelor's degree in computer engineering in Unizar (Zaragoza, Spain)
      </p>
      <p> 
        Intrigued by the frontend, the backend, the strategy, the design, learning new things, cycling, traveling and drones.
      </p>
      <p> 
        Do you want to work as a team? I would love to hear from you.
      </p>
    <div class="h-10"></div>
    <ul class="social-ul">
      <li class="box-social"><a href="https://github.com/sarudego"><i class="ion-social-github"></i></a></li>
      <li class="box-social"><a href="https://www.linkedin.com/in/samuel-ruiz-de-gopegui-m-75b5b9b1/"><i class="ion-social-linkedin-outline"></i></a></li>
    </ul>
  </div>
</div>


{% endblock %}
