{% extends "base/base.html" %}


{% block header %}
{% include "header.html" %}
{% endblock %}

{% block content %}
<div class="container home">
  <div>
    <p>  
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras feugiat lorem elit, a venenatis purus mollis a. Morbi porttitor nulla orci. Nulla sollicitudin accumsan mauris id dignissim. Integer elementum interdum augue id faucibus. Etiam et dignissim turpis, sit amet vehicula nisi. Nam ut eleifend libero, nec fringilla erat. Aliquam erat. 
    </p>
  </div>  
</div>
{% endblock %}
