{% extends "base/base.html" %}

{% block addCss %}
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/index.css') }}">
{% endblock %}


{% block content %}
<!--  
<div class="container-fluid fill light-white-font present-text">
  <div id="home" class="container-fluid fill dark-gray-background">
    <h1 class="center text-center">
      <p>Hi, my name is <strong class="middle-blue-font">Samuel Ruiz de Gopegui
      Mu&ntilde;oz</strong></p>
      <p>and I'm <span class="element"></span></p>
      <p>living in <strong class="middle-blue-font">Spain</strong>.</p>
    </h1>
  </div>
</div>
-->
<!--<div>-->
<nav>
  <div class="image-wrap" id="profile-image">
     <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/18320/profile/profile-512_3.jpg" alt="Samuel Ruiz de Gopegui" />
  </div>
  <div class="internal-nav-wrap">
    <ul id="navigation-menu" class="menu">
      <li><a href="{{ url_for('about') }}" >about</a></li>
      <li><a href="{{ url_for('skills') }}">skills</a></li>
      <li><a href="{{ url_for('extra')}}" >extra</a></li>
    </ul>
  </div>
</nav>
{% endblock %}



{% block addJs %}
  <script type=text/javascript src="{{ url_for('static', filename='js/new.js') }}"></script>
  <script type=text/javascript src="{{ url_for('static',filename='js/present-text.js') }}"></script>
{% endblock %}

