# Must have
Flask==0.12.2
Jinja2==2.10.0 # required by Flask
Werkzeug==0.14.1 # required by Flask




appdirs==1.4.3
awesome-slugify==1.6.5
flask-stylus2css==0.1.0
flask-lesscss==0.9.1
live-stylus==0.2.7
markdown2==2.3.3
Pillow==4.0.0
PyGithub==1.32
pyparsing==2.2.0
# Unicode==0.4.20


# Asset management
Flask-Webpack==0.1.0

# Forms
#Flask-WTF==0.14.2
#WTForms-Components==0.9.7

# Deployment
gunicorn==19.7.0



